</main>

    
    <div class="footer-container">
        <ul class="footer-links">
            <li class="footer-link link-home">Home</li>
            <li class="footer-link link-blogs">Blogs</li>
            <li class="footer-link link-create">Create</li>
            <li class="footer-link link-about">About</li>
        </ul>
        <hr>
        <footer>© <%= new Date().getYear()%> bloGGer, Inc</footer>
    </div>

</body>

</html>