* {
    /* border: 1px dotted red; */
    font-family: 'Satoshi', sans-serif;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
}

.header-title {
    font-size: 3.5rem;
    flex-basis: 350px;
    margin: 0;
    padding: 40px;
}

.nav-item {
    border: 1px solid #2f2f2a;
}

.nav-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.nav-search {
    flex-basis: 200px;  
}

.nav-hover {
    background-color: #ffffe3;
    color: #1d1d1a;
}


.nav-search > input {
    color: white;
    width: 90%;
    background-color: black;
    border: none;
    border-bottom: 2px solid #2f2f2a;   
}

.nav-search.hovered input::placeholder {
    color: #1d1d1a; 
    background-color: #ffffe3;
}

.nav-search.hovered input {
    color: #1d1d1a;
    background-color: #ffffe3;  
    border: none;
    border-bottom: 2px solid #2f2f2a;
}

.nav-search input:focus {
    outline: none;
}