

form input {
    display: block;
    background-color: #323437;
    color: #646669;
    border: 1px solid #e2b714;
    border-radius: 7px;
    margin: 10px 20px;
    padding: 10px;
}

input[name="title"], input[name="author"] {
    height: 60px;
    width: 40%;
}

textarea[name="content"] {
    background-color: #323437;
    color: #646669;
    border: 1px solid #e2b714;
    border-radius: 7px;
    margin: 10px 20px;
    height: 600px;
    width: 80%;
    padding: 10px;
}

input[value="Publish"] {
    color: #e2b714;
    padding: 7px;
    cursor: pointer;
    margin-top: 20px;
}